{% extends "base.html" %}

{% block content %}
	<div class="row">
    	<div class="col m10"><h3> Lista de Recursos Naturales </h3></div>
    	<div class="col m2">
    	<a href="{% url 'recursonatural-add' %}"class="btn-floating btn-large waves-effect waves-light red">
    		<span class="material-icons">+</span>
    	</a></div>
    </div>
    {%if object_list %}
    	{% for recursonatural in object_list %}
        	<div class="card-panel grey lighten-5 z-depth-1">
          		<div class="row valign-wrapper">
            		<div class="col s12">
              			<span class="black-text">
              				<div class="row">
                				<a href="{% url 'recursonatural-detail' recursonatural.id %}"><h4>{{ recursonatural.nombre }} >></h4></a>
                					{{ recursonatural.descripcion }}
                 			</div>
                			<div class="right"><a href="{% url 'recursonatural-update' recursonatural.id %}" class="waves-effect waves-light btn">Editar</a></div>
              			</span>
               		</div>
          		</div>
        	</div>
		{% endfor %}
     {% endif %}
    
{% endblock %}